html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.sections{
    height: 500px;
    background-color: white;
}
#aboutMe{
    display: grid;
}

#projects{
    display: grid;
}
#contact{
    display: grid;
}
