html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}

.sections{
    height: 500px;
}
#aboutMe{
    background-color: aqua;
    display: grid;
}

#projects{
    background-color: beige;
    display: grid;
}
#contact{
    background-color: blueviolet;
    display: grid;
}
