html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
}
#navBar{
    background-color: aliceblue;
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: 0;
    border: 0;
}

.sections{
    height: 400px;
}
#aboutMe{
    background-color: aqua;
    display: grid;
}
#bio{
    background-color: blue;
}
#myPicture{
    display: grid;
}

#projects{
    background-color: beige;
}
#contact{
    background-color: blueviolet;
}

#goUpButtom {
    display: none; /* Hidden by default */
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color:aliceblue;
    color: rgb(110, 107, 107); /*Text color grey*/
    cursor: pointer; /*mouse pointer on hover*/
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
  }
  
  #goUpButtom:hover {
    background-color: rgb(100, 100, 100); /*background on hover*/
  }