body{
    margin: none;
}
#navBar{
    background-color: aliceblue;
    display: flex;
    height: 30px;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    padding: none;
    border: none;
}

.sections{
    height: 400px;
}